.page {
    display: grid;
    grid-template-columns: 25% 50% 25%;
}

.Content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
}

.Publish {
    display: grid;
    grid-template-columns: 20% 80%;
    margin: 5px;
}

.PublishButton {
    display: grid;
    grid-template-columns: 100%;
}

.searchBar {
    display: grid;
    grid-template-columns: 20% 80%;
    margin: 5px;
}

.tweets {
    display: flex;
    flex-direction: column-reverse;
}