.components {
    border-top: 1px solid lightgray;
    margin: 0px;
    padding: 10px;
    /* display: flex; */

}

.bottomrow {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}